.navbar {
  position: relative;
}
.cart-icon {
  display: block;
}
.navbar-right {
  display: flex;
}
.logout {
  color: #777;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 30px;
  border: none;
  background: transparent;
  &:hover {
    color: black;
  }
}

.notifications {
  background-color: #d9534f;
  border: 1px solid #ded;
  border-radius: 4px;
  padding: 3px 20px;
  color: white;
  width: 50%;
  position: absolute;
  top: 110%;
  left: 25%;
}
