.auth {
  width: 40%;
  margin: 30px auto;
  border: 2px solid #ccc;
  padding: 30px 30px;
  border-radius: 5px;

  h2 {
    text-align: center;
  }
  .toast {
    margin: 10px 15px;
    text-align: center;
    padding: 3px 6px;
    border-radius: 5px;
  }
  .ng-submitted {
    input.ng-invalid.ng-touched {
      border-color: red;
    }
  }

  .registration-form {
    input.ng-invalid.ng-touched {
      border-color: red;
    }
  }
}


