.counter {
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 0;
  background: transparent;
  margin-top: 5px;
  & button {
    padding: 3px 6px;
  }
  &__count {
    padding: 4px 7px;
  }
}
