.rating {
  display: inline;
  line-height: 22px;
  & > span {
    margin-right: 5px;
    font-size: 16px;
  }
  .ng-fa-icon {
    color: #f5c71a;
  }
  fa-icon {
    font-size: 16px;
  }
}

.review {
  display: flex;
  &__description {
    display: flex;
    flex-direction: column;
  }
  &__name {
    margin-bottom: auto;
  }
  &__user-icon {
    fa-icon {
      font-size: 40px;
      margin-right: 30px;
    }
  }
  &__text {
    font-size: 14px;
  }
}
